-- Checklist (Tasks) Table
create table public.tasks (
    id uuid primary key default gen_random_uuid(),
    passcode_key text not null,
    text text not null,
    target_date date null,
    completed boolean not null default false,
    completed_date date null,
    created_at timestamptz not null default timezone('utc', now())
);

create index tasks_passcode_idx on public.tasks(passcode_key);

alter table public.tasks enable row level security;
create policy tasks_open on public.tasks for all using (true) with check (true);

grant all on public.tasks to anon;
